#main_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    /* border: 2px solid gray; */
    padding: 10px;
}
.card_container img{
    width: 200px;
    height: 200px;
    border-radius: 10px 40px;
}
.card_container button{
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    width: 50%;
color: white;
background-color: green;
border: none;
}
.card_container{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 20px 40px;
    background-color: rgba(121, 152, 194, 0.144);
    border: 1px solid gray;
}
.card_container:hover{
    cursor: pointer;
}
h3{
    font-size: 18px;
    font-weight: 500;
    color: rgba(39, 36, 36, 0.795);
}
p{
    font-size: 15px;
    font-weight: 500;
    color: rgba(62, 121, 189, 0.795);
}
.card_container:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
@media screen and (min-width:768px) and (max-width:1080px) {
    #main_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width:200px) and (max-width:767px) {
    #main_container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
