body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    /* border: 2px solid gray; */
    padding: 10px;
}
.card_container img{
    width: 100%;
    height: 250px;
    border-radius: 20px 40px;
    transition: all .5s ease-in-out;
}
.card_container img:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.card_container button{
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    width: 50%;
color: white;
background-color: rgba(34, 33, 33, 0.801);
border: none;
transition: all .5s ease-in-out;
}
.card_container button:hover{
    cursor: pointer;
    transform: scale(1.05);
background-color: rgb(16, 110, 12);

}
.card_container{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 20px 40px;
    /* background-color: rgba(172, 175, 156, 0.185); */
    border: 1px solid gray;
    transition: all .5s ease-in-out;
}
.card_container:hover{
    cursor: pointer;
    transform: scale(1.02);
}
h3{
    font-size: 18px;
    font-weight: 500;
    color: rgba(39, 36, 36, 0.795);
}
p{
    font-size: 15px;
    font-weight: 500;
    color: rgba(62, 121, 189, 0.795);
}
.card_container:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
@media screen and (min-width:768px) and (max-width:1080px) {
    #main_container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    h3{
        color: red;
        font-size: 22px;
    }
    p{
        font-size: 19px;
    }
}
@media screen and (min-width:200px) and (max-width:767px) {
    #main_container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    h3{
        color: red;   
    }
   
}